[mysqld]
{% for key, value in mysqld.iteritems() %}
{% if value == None %}
{{ key }}
{% else %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}

[mysql]
prompt = "{{ ansible_hostname }} mysql> "

[client]
user = root
